In [2]:
import pandas as pd
house = pd.read_csv('https://raw.githubusercontent.com/we-b/datasets_for_ai/master/cal_house.csv')

In [3]:
house.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,41,880,129,322,126,8.3252,45.26
1,21,7099,1106,2401,1138,8.3014,35.85
2,52,1467,190,496,177,7.2574,35.21
3,52,1274,235,558,219,5.6431,34.13
4,52,1627,280,565,259,3.8462,34.22

In [5]:
house.shape

(1000, 7)

In [8]:
x = house[['housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income']]
y = house['median_house_value']

print(x.shape)
print(y.shape)
print(x)
print(y)

(1000, 6)
(1000,)
     housing_median_age  total_rooms  total_bedrooms  population  households  \
0                    41          880             129         322         126
1                    21         7099            1106        2401        1138
2                    52         1467             190         496         177
3                    52         1274             235         558         219
4                    52         1627             280         565         259
5                    52          919             213         413         193
6                    52         2535             489        1094         514
7                    52         3104             687        1157         647
8                    42         2555             665        1206         595
9                    52         3549             707        1551         714
10                   52         2202             434         910         402
11                   52         3503             752        1504         734
12                   52         2491             474        1098         468
13                   52          696             191         345         174
14                   52         2643             626        1212         620
15                   50         1120             283         697         264
16                   52         1966             347         793         331
17                   52         1228             293         648         303
18                   50         2239             455         990         419
19                   52         1503             298         690         275
20                   40          751             184         409         166
21                   42         1639             367         929         366
22                   52         2436             541        1015         478
23                   52         1688             337         853         325
24                   52         2224             437        1006         422
25                   41          535             123         317         119
26                   49         1130             244         607         239
27                   52         1898             421        1102         397
28                   50         2082             492        1131         473
29                   52          729             160         395         155
..                  ...          ...             ...         ...         ...
970                  19         2034             288         852         295
971                  15         2130             273         876         285
972                   7         9540            1294        3926        1229
973                  29         2702             680        1360         642
974                  39          522             116         161         102
975                  52          775             134         315         123
976                   3         1565             464         769         461
977                  20         1309             184         514         172
978                  13         5519             833        2444         825
979                  10         4337             800        1813         743
980                  28         1812             294         853         278
981                   4         4719             741        1895         742
982                  14         4236             701        1833         663
983                  22         3634             664        1699         640
984                  27         1569             242         583         214
985                  13        13182            2074        4847        1950
986                  43          228              40          83          42
987                  47          127              23          51          21
988                  13         9621            1344        4389        1391
989                   4         6159            1510        2649        1241
990                  16         4290             554        1952         576
991                  26         1786             306         771         279
992                  32          404              74         144          58
993                  17         1671             352         729         252
994                  12         5608            1049        2595        1067
995                  11        12070            2220        5826        2125
996                  25          494              81         254          85
997                  22         5533             943        2474         910
998                  17         3956             639        2222         662
999                  12         1906             351         802         319

     median_income
0           8.3252
1           8.3014
2           7.2574
3           5.6431
4           3.8462
5           4.0368
6           3.6591
7           3.1200
8           2.0804
9           3.6912
10          3.2031
11          3.2705
12          3.0750
13          2.6736
14          1.9167
15          2.1250
16          2.7750
17          2.1202
18          1.9911
19          2.6033
20          1.3578
21          1.7135
22          1.7250
23          2.1806
24          2.6000
25          2.4038
26          2.4597
27          1.8080
28          1.6424
29          1.6875
..             ...
970         6.5285
971         7.2639
972         7.4353
973         3.1127
974         2.4896
975         5.0677
976         2.1187
977        10.9506
978         7.0691
979         5.5000
980         4.9879
981         6.8132
982         5.6399
983         4.1597
984         5.7519
985         5.6417
986        10.3203
987         4.3472
988         6.6827
989         3.6200
990         7.3588
991         5.7239
992         4.2083
993         6.1023
994         3.9864
995         4.8624
996         9.1531
997         4.7361
998         5.4324
999         4.9375

[1000 rows x 6 columns]
0      45.26
1      35.85
2      35.21
3      34.13
4      34.22
5      26.97
6      29.92
7      24.14
8      22.67
9      26.11
10     28.15
11     24.18
12     21.35
13     19.13
14     15.92
15     14.00
16     15.25
17     15.55
18     15.87
19     16.29
20     14.75
21     15.98
22     11.39
23      9.97
24     13.26
25     10.75
26      9.38
27     10.55
28     10.89
29     13.20
       ...
970    30.04
971    33.24
972    38.98
973    23.30
974    23.85
975    23.33
976    23.13
977    47.58
978    39.32
979    24.72
980    22.94
981    28.25
982    30.06
983    29.32
984    27.85
985    35.29
986    40.00
987    37.50
988    31.37
989    13.93
990    32.75
991    43.06
992    12.50
993    45.00
994    20.02
995    19.24
996    41.88
997    21.68
998    21.55
999    22.77
Name: median_house_value, dtype: float64

In [10]:
# トレーニングデータとテストデータの分割の為の関数をインストール
from sklearn.cross_validation import train_test_split
# トレーニングデータとテストデータを70%:30%の割合で分割
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [11]:
# トレーニングデータのshapeを確認
print(x_train.shape)
print(y_train.shape)
# テストデータのshapeを確認
print(x_test.shape)
print(y_test.shape)

(700, 6)
(700,)
(300, 6)
(300,)

In [12]:
# 線形回帰モデルの読み込み
from sklearn.linear_model import LinearRegression

In [13]:
# 線形回帰モデルをインスタンス化
lr = LinearRegression()

In [16]:
# トレーニングデータにもとづいて学習
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [17]:
 # 係数
print(lr.coef_)
 # 切片 (誤差)
print(lr.intercept_)

[  6.56269071e-02   6.09363383e-04   3.58652494e-03  -4.21785865e-03
   6.69384024e-03   3.87339595e+00]
2.31983708718

In [18]:
print(round(lr.score(x_train, y_train), 2))

0.65